<div class="wrapper wrapper-full-page">
    <div class="full-page register-page" data-color="black">
        <div class="full-page-background"></div>
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="header-text">
                            <h2>{{ 'ERRORS.ERROR' | translate }} 404 </h2>
                            <h4 class="title">{{ 'ERRORS.PAGE_NOT_FOUND' | translate }}</h4>
                            <hr />
                        </div>
                    </div>
                    <!-- <div class="col-md-4 col-md-offset-2">
                        
                    </div> -->
                    <div class="col-md-8 col-md-offset-2">
                        <div class="card card-plain">
                            <div class="content">
                                <div class="media">
                                    <div class="media-left">
                                        <div class="icon">
                                            <i class="pe-7s-headphones"></i>
                                        </div>
                                    </div>
                                    <div class="media-body">
                                        <h4>{{ 'SESSIONS.GLOBAL_SUPPORT' | translate }}</h4>
                                        {{ 'SESSIONS.NOT_FOUND_DETAIL' | translate }}
                                    </div>
                                </div>
                            </div>
                            <div class="footer text-center">
                                <button type="button" class="btn btn-fill btn-neutral btn-wd" (click)="back()">{{ 'BUTTONS.BACK' | translate }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>