<div class="table-full-width infinite-scroll" infinite-scroll [scrollWindow]="false" [infiniteScrollDistance]="2" [infiniteScrollUpDistance]="1.5" (scrolled)="onScrollDown()" >
    <table class="table">
        <thead>
            <tr>
                <th *ngFor="let column of Table.headerColumns" class="{{ column.class }}">
                    <span (click)="sorterFields(column.field)">
                        <i *ngIf="column.sortable" class="fa fa-sort" id="sortable_{{ column.field }}"></i>
                        {{ (column.value != undefined)? column.value : column }}
                    </span>
                </th>
            </tr>
        </thead>
        <tbody *ngIf="Table.dataRows.length > 0">
            <tr *ngFor="let row of Table.dataRows; let i = index">
                <td>{{ i +1 }}</td>
                <td>{{ row.item_id }}</td>
                <td>
                    <img class="avatar border-white-2" *ngIf="row.image" src="{{ url + 'static/storage/employee/' + row.image }}" />
                    <img class="avatar border-white-2" *ngIf="!row.image" src="assets/img/faces/default-avatar.png" />
                </td>
                <td>
                    {{ row.fullname }}
                    <br><small>{{ row.position_job }}</small>
                </td>
                <td>{{ row.salary }}</td>
                <!-- <td>{{ row.email }}</td> -->
                <td>{{ (row.beneficiary != "0")? ("LIST.YES" | translate) : ("LIST.NO" | translate) }}</td>
                <td>{{ row.hiring_date }}</td>
                <!-- <td>
                    <i class="fa fa-edit m-r-4"></i> <small>{{ row.formatted_updated }}</small>
                    <br><i class="fa fa-calendar-plus-o m-r-4"></i> <small>{{ row.formatted_date }}</small>
                </td> -->
                <!-- <td>{{ row.formatted_date }}</td> -->
                <!-- <td>{{ (row.formatted_updated == "NOT_AVAILABLE") ? "" : row.formatted_updated }}</td> -->
                <td class="td-actions">
                    <a title="{{ 'LIST.VIEW' | translate }}" class="btn btn-simple btn-xs btn-info" [routerLink]="['../../employee/view', { item_id:row.item_id }]"><i class="fa fa-eye"></i></a>
                    <a title="{{ 'LIST.EDIT' | translate }}" class="btn btn-simple btn-xs btn-theme" [routerLink]="['../../employee/save', { item_id:row.item_id }]"><i class="fa fa-edit"></i></a>
                    <a title="{{ 'LIST.DELETE' | translate }}" class="btn btn-simple btn-xs btn-danger" (click)="confirmDelete(row.item_id)"><i class="fa fa-times"></i></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="row p-t-8">
    <hr />
    <div class="pull-right text-right col-md-2">
        <button class="btn btn-simple mr-1 text-info" (click)="selectDownload()"><i class="fa fa-download"></i></button> 
        <button class="btn btn-simple btn-theme mr-1" [routerLink]="['../../employee/save']"><i class="fa fa-plus"></i></button> 
    </div>

    <div class="col-md-2">
        <span>{{ 'LIST.TOTAL' | translate }} {{ Table.summary?.total }}</span> 
    </div>
    <div class="clearfix"></div>
</div>