.btn{
    border-width: $border-thin;
    background-color: $transparent-bg;
    font-weight: $font-weight-normal;

    @include opacity(.8);
    padding: $padding-base-vertical $padding-base-horizontal;

    @include btn-styles($default-color, $default-states-color);

    &:hover,
    &:focus{
        @include opacity(1);
        outline: 0 !important;
    }
    &:active,
    &.active,
    .open > &.dropdown-toggle {
         @include box-shadow(none);
         outline: 0 !important;
    }

    &.btn-icon{
        padding: $padding-base-vertical;
    }

    .btn-label{
        .fa{
            width: 13px;
        }
    }

    .fa{
        width: 20px;
    }
}

// Mixin to the buttons
@each $color, $value in $colors {
    .btn-#{$color} {
        color: $value;
        border-color: $value;

        // @if($color == 'white') or ($color == 'light') {
        //     color: $black !important;
        // } 
    }

    .btn-#{$color} { @include btn-styles($color, darken($value, 10%) !important); }

    .btn-#{$color}.btn-fill {
        opacity: 1;
        background-color: $value;
        filter: alpha(opacity=100);    
        color: $white !important;
        
        @if($color == 'white') or ($color == 'light') or ($color == 'neutral') {
            color:  darken($gray, 30%) !important;
        } 
    }

    .btn-#{$color}.btn-fill:hover,
    .btn-#{$color}.btn-fill:focus,
    .btn-#{$color}.btn-fill:active,
    .btn-#{$color}.btn-fill.active,
    .open>.btn-#{$color}.btn-fill.dropdown-toggle {
        color: $white !important;
        background-color: darken($value, 6%) !important; 
    }

    .btn-#{$color}.btn-fill .caret {
        border-top-color: $white;
    }

    .btn-#{$color} .caret {
        border-top-color: $value;
    }
    
    .btn-#{$color}.disabled,
    .btn-#{$color}.disabled:hover,
    .btn-#{$color}.disabled:focus,
    .btn-#{$color}.disabled.focus,
    .btn-#{$color}.disabled:active,
    .btn-#{$color}.disabled.active,
    .btn-#{$color}:disabled,
    .btn-#{$color}:disabled:hover,
    .btn-#{$color}:disabled:focus,
    .btn-#{$color}:disabled.focus,
    .btn-#{$color}:disabled:active,
    .btn-#{$color}:disabled.active,
    .btn-#{$color}[disabled],
    .btn-#{$color}[disabled]:hover,
    .btn-#{$color}[disabled]:focus,
    .btn-#{$color}[disabled].focus,
    .btn-#{$color}[disabled]:active,
    .btn-#{$color}[disabled].active,
    fieldset[disabled] .btn-#{$color},
    fieldset[disabled] .btn-#{$color}:hover,
    fieldset[disabled] .btn-#{$color}:focus,
    fieldset[disabled] .btn-#{$color}.focus,
    fieldset[disabled] .btn-#{$color}:active,
    fieldset[disabled] .btn-#{$color}.active {
        background-color: $smoke;
        color: $dark !important;
        border-color: $smoke;
    }
}

.btn{
     &:disabled,
     &[disabled],
     &.disabled{
        @include opacity(.5);
    }
}
.btn-round{
    border-width: $border-thin;
    border-radius: $btn-round-radius !important;
    padding: $padding-round-vertical $padding-round-horizontal;

    &.btn-icon{
        padding: $padding-round-vertical;
    }
}

.btn-simple{
    border: $none;
    font-size: $font-size-medium;
    padding: $padding-base-vertical $padding-base-horizontal;

    &.btn-icon{
        padding: $padding-base-vertical;
    }
}

.btn-lg{
   @include btn-size($padding-large-vertical, $padding-large-horizontal, $font-size-large, $border-radius-large);
   font-weight: $font-weight-normal;
}
.btn-sm{
    @include btn-size($padding-small-vertical, $padding-small-horizontal, $font-size-small, $border-radius-small);
}
.btn-xs {
    @include btn-size($padding-xs-vertical, $padding-xs-horizontal, $font-size-small, $border-radius-small);
}
.btn-wd {
    min-width: 140px;
}

.btn-bolder {
    box-shadow: none;
    font-weight: 600;
    padding: 11px 40px;
    border:none !important;
    transition: all .15s ease;
    color: $white !important;
}
.btn-bolder:hover {
    color: $white !important;
}


.btn-group.select{
    width: 100%;
}
.btn-group.select .btn{
    text-align: left;
}
.btn-group.select .caret{
    position: absolute;
    top: 50%;
    margin-top: -1px;
    right: 8px;
}


.btn-gradient-primary {
    background: top right/210% 210% #e14eca;
    background-image: linear-gradient(to bottom left,#e14eca,#ba54f5,#e14eca);
    
}

.btn-gradient-success {
    background: top right/210% 210% #00f2c3;
    background-image: linear-gradient(to bottom left,#00f2c3,$success,#00f2c3);
}

.btn-gradient-warning {
    background: top right/210% 210% #ff8d72;
    background-image: linear-gradient(to bottom left,#ff8d72,$warning,#ff8d72);
}

.btn-gradient-danger {
    background: top right/210% 210% #fd5d93;
    background-image: linear-gradient(to bottom left,#fd5d93,$danger,#fd5d93);
}