body {
    width: 7.5cm;
    font: 9.5pt Arial, "Times New Roman", Times, serif;
    font-weight: bold;
    line-height: 1.3; 
}

header, 
nav, 
footer,
.sidebar,
.footer,
.screen {
    display: none !important;
    height: 0px;
    width: 0px; 
}

.print {
    display:block !important;
    width: 7.5cm;
    font: 9.0pt Arial, "Times New Roman", Times, serif;
    font-weight: bold;
    line-height: 1.3;  
}
  
.print h3 {
    padding-bottom: 0px;
    margin-bottom: 0px; 
}
  
table.ticket {
    font-size: 8.5pt;
    font-weight: bold;
    width: 97%;
    margin: left;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 2px;
    /*border: 1px solid green;*/ 
}
  
.print p,
table.ticket p {
    width: 100%;
    margin:auto;
    display: block;
    font: 9.0pt Arial, "Times New Roman", Times, serif;
    font-weight: bold;
    /*border: 1px solid red;*/ 
}

table.ticket td {
    width: 24%;
    border-bottom: 1px solid #cccccc; 
}

table.ticket div {
    width: 24%;
    margin: 0px;
    display: inline-block;
    /*border: 1px solid blue;*/ 
}

.spacer {
    height: 30px;
    display: block;
    /*border: 1px solid blue;*/ 
}
  
.product-label {
    height: 5.2cm;
    width: 10.4cm;
    display: block;
    padding: 8px;
    /* border: 1px solid black;  */
}

.product-label p {
    width: 100%;
    margin-top:2px;
    margin-bottom:2px;
    font: 11pt Arial;
    text-transform: uppercase;
}

.product-label .container-label-right {
    position:relative;
    min-height:1px;
    width: 35%;
    float: right;
    /* border: 1px solid blue; */
}

.product-label .container-label-left {
    position:relative;
    min-height:1px;
    width: 65%;
    /* border: 1px solid red; */
}

.product-label .container-label-logo {
    text-align: right !important;
}

.product-label .label-logo {
    width: 4.5cm;
    text-align: right !important;
}

.product-label .container-size {
    width: 4.5cm;
    border: 3px solid black;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 10px;
    padding-bottom: 10px; 
    font: 16pt Arial;
    font-weight: bolder;
}

.product-label .container-barcode {
    margin-top: 50px;
    width: 65%;
    padding: 10px;
    font: 16pt Arial;
    font-weight: bolder;
    /* border: 1px solid black; */
}

.separator {
    width: 18px;
    min-height: 10px;
    display: inline-block;
    /*border: 1px solid blue;*/ 
}

.text-center { text-align: center !important; }
.text-rigth { text-align: right !important; }
.text-left { text-align: left !important; }