<footer class="footer">
    <div class="container-fluid">
        <!-- <nav class="pull-left mt-8">
            <ul>
                <li>
                    <small>ADMINER version {{ project_version }}</small>
                </li>
            </ul>
        </nav> -->
        <div class="text-center copyright">
            <b class="">&copy; {{ date | date: 'yyyy' }} <a class="text-theme" href="http://may.estilosfrescos.xyz" target="_blank">@Spidermay</a>, made with attitude.</b>  
            &nbsp;&nbsp;<small class="text-theme">ADMINER version {{ project_version }}</small>
        </div>
    </div>
</footer>