<footer class="footer footer-black footer-outside">
    <div class="container-fluid text-center">
        <nav>
            <!-- <ul>
                <li><a href="../../landing/about#about">{{ 'ABOUT_US.ABOUT_US' | translate }}</a></li>
                <li><a href="../../landing/about#company">{{ 'ABOUT_US.WHATS_PROORDER' | translate }}</a></li>
                <li><a href="../../landing/about#schools">{{ 'ABOUT_US.PARTICIPANTS' | translate }}</a></li>
                <li><a href="../../landing/faq">{{ 'FAQ.FAQ' | translate }}</a></li>
                <li><a href="../../landing/privacy">{{ 'PRIVACY.NOTICE_OF_PRIVACY' | translate }}</a></li>
                <li><a href="../../landing/termns_and_conditions">{{ 'TERMNS_AND_CONDITIONS.TERMNS_AND_CONDITIONS' | translate }}</a></li>
            </ul> -->
        </nav>
    </div>
   
    <p class="copyright text-center p-b-20">
        <b class="">&copy; {{ date | date: 'yyyy' }} <a class="text-theme" href="http://may.estilosfrescos.xyz" target="_blank">@Spidermay</a>, made with attitude.</b>  
    </p>
</footer>